/* Genel stil */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #b3ffab, #12fff7);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
}

.login-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.login-title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-icon {
  background: #444;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  width: calc(100% - 40px);
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.remember-me {
  display: flex;
  align-items: center;
  position: relative;
}

.remember-label {
  margin-left: 5px;
}

.forgot-password {
  color: #ccc;
  text-decoration: none;
}

.btn-login {
  background: #00c6ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: #008bb5;
}

@media (max-width: 576px) {
  .login-card {
    padding: 20px;
  }

  .login-title {
    font-size: 20px;
  }

  .btn-login {
    font-size: 14px;
  }
}
